# methods
public net.minecraft.client.gui.inventory.GuiContainer func_146977_a(Lnet/minecraft/inventory/Slot;)V # drawSlot
public net.minecraft.client.gui.inventory.GuiContainer func_146980_g()V # updateDragSplitting

# fields
public net.minecraft.client.gui.inventory.GuiContainer field_147005_v # clickedSlot
public net.minecraft.client.gui.inventory.GuiContainer field_147012_x # draggedStack
public net.minecraft.client.gui.inventory.GuiContainer field_147004_w # isRightMouseClick
public net.minecraft.client.gui.inventory.GuiContainer field_146987_F # dragSplittingLimit